<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日漫区</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/uikit.css}">
    <script src="" th:src="@{/js/uikit.min.js}"></script>
    <script src="" th:src="@{/js/uikit-icons.min.js}"></script>
    <script src="/static/js/angular.js"></script>
    <script src="" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        .out{
            margin-top: 40px;
            overflow: hidden;
        }
        .ml{
            margin: auto;
        }
        .cartLink a{
            display: block;
        }
        input[type="text"]{
            width: 380px;
            height: 30px;
            line-height: 30px;
            vertical-align: top;
            border: 3px solid #00BDEF;
            padding-left: 10px;
        }
        input[type="button"]{
            width: 100px;
            height: 38px;
            line-height: 38px;
            background-color: #00BDEF;
            color: white;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 5px;
            border: 1px solid #00BDEF;
            margin-left: -5px;
            cursor: pointer;
        }
        .link a{
            color: black;
            text-decoration: none;
        }
        .link a:hover{
            color: #d80a21;
            text-decoration: underline;
        }
        .cartLink a{
            font-size: 12px;
            color: black;
            text-decoration: none;
        }
        .cartLink a:hover{
            text-decoration: underline;
        }
        span{
            color: #d80a21;
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div th:replace="video/videoHead :: videoHead"></div>
<div class="main" style="width: 1020px;margin: auto"  ng-controller="mainController">

    <div class="out">
        <div class="ml">
            <input type="text" id="btozz" placeholder="输入up主或者视频标题">
            <input type="button"  ng-click="findv(1)" value="搜索">
        </div>
    </div>
    <div style="width: auto;margin-top: 40px" class="tuijian">
        <div class="toptitle" style="width: auto;height: 20px;margin: 10px">
            <div class="tj" style="font-size: 13px;color: #999999;float: left;line-height: 20px">
                <span uk-icon="icon:grid;ratio:1.2"></span> 编辑推荐
            </div>
        </div>
        <div style="width: 390px;height: 220px;float: left">
            <div class="uk-position-relative uk-visible-toggle uk-light"  uk-slideshow="autoplay: 1000" tabindex="-1">
                <ul class="uk-slideshow-items" >
                        <li ng-repeat="tjModel in tjdata">
                            <a ng-href="/video/wacth?vid={{tjModel.video.vid}}">
                                <img ng-src="/static/{{tjModel.video.picsrc}}" style="width: 390px;height: 220px" alt="" >
                            </a>
                        </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
        </div>
        <div style="width: 400px;float: left;margin-left: 30px">
            <dl class="uk-description-list uk-description-list-divider" ng-repeat="tjModel in tjdata">
                <a ng-href="/video/wacth?vid={{tjModel.video.vid}}"><dt>{{tjModel.video.vtitle}}</dt></a>
                <a ng-href="/video/wacth?vid={{tjModel.video.vid}}"><dd class="uk-panel uk-panel-box uk-text-truncate">{{tjModel.video.descript}}</dd></a>
            </dl>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="zx" style="width: auto;margin-top: 20px">
        <div class="toptitle" style="width: auto;height: 20px;margin: 10px">
        搜索到 {{page.total}}条记录
    </div>
        <div class="zxlist" style="width: 170px;height: 171px;float: left;margin: 10px" ng-repeat="video in data">
            <a ng-href="/video/wacth?vid={{video.vid}}"> <img class="avatar" style="width: 170px;height: 50%;float: left;margin-right: 10px;"
                                                              ng-src="/static/{{video.picsrc}}"></a>
            <br>
            <div class="uk-panel uk-panel-box uk-text-truncate" style="width: 170px">{{video.vtitle}}</div>
            <p style="font-size: 12px;margin-top: 10px;color: #999"><span uk-icon="icon:user; ratio: 0.7"></span>
                {{video.scrname}}</p>
        </div>
    </div>
    <div style="clear: both"></div>
    <div>
        共{{page.pages}}页

        <ul class="uk-pagination uk-flex-center" uk-margin>
            <li  ng-if="page.hasPreviousPage"><a href="#"><span uk-pagination-previous ng-click="newPage(page.pgeNum-1)"></span></a></li>
            <li ng-repeat="navigatepageNum in page.navigatepageNums">
                <span ng-if="navigatepageNum == page.pageNum">
                <a href="#"> {{navigatepageNum}}</a>
                    </span>
                <span ng-if="navigatepageNum != page.pageNum">
                     <a href="#"  ng-click="newPage(navigatepageNum)"> {{navigatepageNum}}</a>
                </span>
            </li>
            <li ng-if="page.hasNextPage"><a href="#"><span uk-pagination-next ng-click="newPage(page.nextPage)"></span></a></li>
        </ul>

    </div>
</div>
</body>

<script th:inline="javascript">
    var app = angular.module('app', []);
    baseUrl = "";
    app.controller('mainController', ['$scope', 'httpService', function ($scope, httpService) {

        $scope.finddata = {
            pageNum : 1,
            pageSize : 10,
            fq : "2"
        }
        $scope.cmt = {
            fstlvlcmt: ""
        }
        var fqdata ={
            types : 2
        }

        httpService.post("/common/findFqTj", fqdata, function (data) {
            $scope.tjdata = data;
            console.log(data);
        }, function (error) {
            console.log(error)
        });
        $scope.findv = function(pageNums){
            var title=$("#btozz").val();
            console.log(title);
            var data = {
                pageNum : pageNums,
                pageSize : 10,
                title :title
            }
            httpService.post("/video/getVideoByToz", data, function (data) {
                $scope.page=data;
                $scope.navigatepageNum=data.navigatepageNums;
                $scope.data = data.list;
                console.log(data);
                for (var index = 0; index < data.list.length; index++) {
                    $scope.data[index] = data.list[index];
                }
            }, function (error) {
                console.log(error)
            });
        };

        httpService.post("/video/findFqVideo/",$scope.finddata, function (data) {
            $scope.page=data;
            $scope.navigatepageNum=data.navigatepageNums;
            $scope.data = data.list;
            console.log(data);
            for (var index = 0; index < data.list.length; index++) {
                $scope.data[index] = data.list[index];
            }
        }, function (error) {
            console.log(error)
        });


        $scope.newPage =function(p){
            var finddata = {
                pageNum : p,
                pageSize : 10,
                fq : "2"
            }
            httpService.post("/video/findFqVideo/",finddata, function (data) {
                $scope.page=data;
                $scope.navigatepageNum=data.navigatepageNums;
                $scope.data = data.list;
                console.log(data);
                for (var index = 0; index < data.list.length; index++) {
                    $scope.data[index] = data.list[index];
                }
            }, function (error) {
                console.log(error)
            });
        }
    }]);

    app.factory('httpService', ['$http', function ($http) {
        return {
            get: function (url, params, successCallback, errorCallback) {
                $http({
                    url: url + "?" + $.param(params),
                    method: 'get',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    responseType: 'json'
                })
                    .success(successCallback)
                    .error(errorCallback);
            },
            post: function (url, params, successCallback, errorCallback) {
                $http({
                    url: url,
                    method: 'post',
                    data: $.param(params),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    responseType: 'json'
                })
                    .success(successCallback)
                    .error(errorCallback);
            }
        }
    }]);

    Array.prototype.contains = function (obj) {
        var i = this.length;

        while (i--) {
            if (this[i] === obj) {
                return true;
            }
        }
        return false;
    }
</script>
</html>