<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <!--根据id查找用户-->
    <select id="findUserById" resultType="com.example.demo.model.User">
        select * from t_user where id=#{id};
    </select>

    <!--查询所有用户-->
    <select id="findAllUser" resultType="com.example.demo.model.User">
        select * from t_user
    </select>

    <!--查询所有用户-->
    <select id="findUserByName" resultType="com.example.demo.model.User">
        select * from t_user where username like '%${username}%'
    </select>

    <!--登录-->
    <select id="userLogin" resultType="com.example.demo.model.User">
        select * from t_user where username=#{username} and password=#{password};
    </select>

<!--注册添加-->
    <insert id="insertUser">
        insert into t_user
        (
          id,
          username,
          password,
          email,
          state,
          power,
          regtime,
          lasttime,
          headpic
        ) values
        (
          #{id},
          #{username},
          #{password},
          #{email},
          #{state},
          #{power},
          sysdate(),
          #{lasttime},
          #{headpic}
        );
    </insert>

    <!--修改用户信息-->
    <update id="updateUser">
        update t_user
        <set>
            <if test="userabout!=null">userabout=#{userabout},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="state!=null">state=#{state},</if>
            <if test="username!=null">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="headpic!=null">headpic=#{headpic},</if>
            <if test="email!=null">email=#{email}</if>
        </set>
        where id=#{id}
    </update>

    <select id="findMyVideo" resultType="com.example.demo.model.Video">
        select * from video where scrid=#{id}
    </select>

    <select id="findMyVideoPage" resultType="com.example.demo.model.Video">
        select * from video where scrid=#{id}
    </select>

    <delete id="deleteUser">
        delete  from t_user where id=#{id};
    </delete>

    <update id="editPwd">
        update t_user set password = #{password} where username= #{username}
    </update>

    <select id="findByName" resultType="com.example.demo.model.User">
        select * from t_user where username = #{username}
    </select>
</mapper>