<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.VideoMapper">
    <!--根据标题或者作者名称查找视频-->
    <select id="findVideo" resultType="com.example.demo.model.Video">
        select * from video where vtitle like '%${title}%' or scrname like '%${title}%'
    </select>

    <!--查询所有-->
    <select id="findAllVideo" resultType="com.example.demo.model.Video">
        select * from video
    </select>

    <!--查询最新-->
    <select id="findNewVideo" resultType="com.example.demo.model.Video">
        select * from video order by uptime desc;
    </select>

    <!--查询最热-->
    <select id="findZrVideo" resultType="com.example.demo.model.Video">
      select * from video order by looknum+0 desc;
    </select>

    <!--根据id-->
    <select id="findVideoById" resultType="com.example.demo.model.Video">
        select * from video where vid=#{vid};
    </select>

<!--上传-->
    <insert id="inserVideo">
        insert into video
        (
          vid,
          vtitle,
          vsrc,
          picsrc,
          descript,
          uptime,
          looknum,
          goodnum,
          scrid,
          state,
          scrname
        ) values
        (
          #{vid},
          #{vtitle},
          #{vsrc},
          #{picsrc},
          #{descript},
          #{uptime},
          #{looknum},
          #{goodnum},
          #{scrid},
          #{state},
          #{scrname}
        );
    </insert>

    <!--增加点赞-->
    <update id="incLook">
        update video
        set
         looknum=#{looknum}+1+0
        where vid=#{vid}
    </update>

    <!--增加点赞-->
    <update id="incgood">
        update video
        set
         goodnum=#{goodnum}
        where vid=#{vid}
    </update>

    <!--修改审核状态-->
    <update id="updateShenHe">
        update video
        set
         state=#{state},
         btgyy=#{btgyy}
        where vid=#{vid}
    </update>

</mapper>