<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Comment System</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pl.css">
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/comment.js"></script>
</head>
<body ng-controller="mainController" id="pl" th:fragment="pl">



<div class="alert alert-warning hintDiv" id="hintDiv">
    <strong>评论不能为空</strong>
</div>
    <div style="width: 1020px;margin: auto;height: 76px;line-height: 38px">
        共{{page.pages}}页
        <ul class="pagination">
            <li ng-if="page.hasPreviousPage">
                <button class="btn btn-success btn-xs" ng-click="newPage(page.pgeNum-1)">
                    上一页
                </button>
            </li>
            <li ng-repeat="navigatepageNum in page.navigatepageNums">
                <span ng-if="navigatepageNum == page.pageNum">
               <button class="btn btn-success btn-xs">
                    {{navigatepageNum}}
                </button>
                    </span>

                <span ng-if="navigatepageNum != page.pageNum">
               <button class="btn btn-success btn-xs" ng-click="newPage(navigatepageNum)">
                    {{navigatepageNum}}
                </button>
                    </span>
            </li>
            <li ng-if="page.hasNextPage">
                <button class="btn btn-success btn-xs" ng-click="newPage(page.nextPage)">
                    下一页
                </button>
            </li>
        </ul>
    </div>

<div class="container" data-ng-repeat="commentSaying in data">



    <div class="col-sm-8 ">
        <div class="commentSaying">
            <div class="meta-top">
                <!--avatar-->
                <a href="javascript:void(0);">
                    <img class="avatar"  ng-src="/static/{{commentSaying.avatar}}">
                </a>
                <!--nickname-->
                <p class="author">
                    <a class="name" href="javascript:void(0);">{{commentSaying.author}}</a>
                </p>
                <!--create time-->
                <span class="publish-time">{{commentSaying.createTime}}</span>
            </div>
            <!--content-->
            <p class="content">{{commentSaying.sayingContent}}</p>
        </div>

        <div class="comment-footer clearfix">
            <a class="like pull-left" href="javascript:void(0);" ng-click="like(commentSaying,commentSaying.id)">
                <span ng-if="saying.isShowLike" class="glyphicon glyphicon-heart"></span>
                <span ng-if="!saying.isShowLike" class="glyphicon glyphicon-heart-empty"></span>
                <span>喜欢({{commentSaying.likes.length}})</span>
            </a>
            <a href="javascript:void(0);" ng-if="commentSaying.isAuthor" ng-click="delete(commentSaying.id)">
                <span class="glyphicon glyphicon-trash"></span>
                <span>删除</span>
            </a>
        </div>

        <div class="commment-head">
            <span class="pull-left" style="margin-top:0px;">
              {{commentSaying.flcs.length}}条评论
            </span>
            <a class="like" href="javascript:void(0);" ng-click="showComment(commentSaying)">
                <span class="glyphicon glyphicon-pencil"></span>
                <span>回复</span>
            </a>
        </div>
        <!--comment text-->
        <form id="comment" ng-if='commentSaying.isShowComment' novalidate>
            <div class="comment-text">
                <textarea autofocus placeholder="写下你的评论…" maxlength="2000" ng-model="cmt.fstlvlcmt"></textarea>
                <div style="text-align:right;">
                    <button class="btn btn-sm btn-default" style="float:left;" ng-click="showComment(commentSaying)">
                        取消
                    </button>
                    <button class="btn btn-sm btn-info" ng-click="firstComment(commentSaying.id,commentSaying)">提交
                    </button>
                </div>
            </div>
        </form>

        <div class="comment-list">
            <!--first level comment-->
            <div class="first-level" ng-repeat="comment in commentSaying.flcs">
                <div class="meta-top">
                    <a href="javascript:void(0);">
                        <img class="avatar" ng-src="/static/{{comment.avatar}}">
                    </a>
                    <p class="author">
                        <a class="name" href="javascript:void(0);">{{comment.commenter}}</a>
                    </p>
                    <div class="comment-footer clearfix">
                        <span class="publish-time pull-left" style="margin-top:0px;">{{comment.commentTime}}</span>
                        <a ng-if="comment.commenter == user.username" class="like delete" href="javascript:void(0);"
                           ng-click="deletefslcmt(commentSaying.id, comment.id)">
                            <span>删除</span>
                        </a>
                        <a class="like delete-reply" href="javascript:void(0);"
                           ng-click="showSecondComment(comment, comment.commenter)">
                            <span>回复</span>
                        </a>
                    </div>
                </div>
                <p class="content">{{comment.commentContent}}</p>

                <!--second level comment-->
                <div class="second-level" ng-repeat="childComment in comment.slcs">
                    <p class="reply">
                        <a href="javascript:void(0);" class="blue-link">{{childComment.replier}}</a>:
                        <a href="javascript:void(0);" class="blue-link">@{{childComment.toCommenter}}</a>
                        <span>{{childComment.replyContent}}</span>
                    </p>
                    <div class="comment-footer clearfix">
                  <span class="publish-time pull-left" style="margin-top:0px;">
                    {{childComment.replyTime}}
                  </span>
                        <a ng-if="childComment.replier == user.username" class="like delete" href="javascript:void(0);"
                           ng-click="deletescndcmt(commentSaying.id, comment.id, childComment.id)">
                            <span>删除</span>
                        </a>
                        <a class="like delete-reply" href="javascript:void(0);"
                           ng-click="showSecondComment(comment, childComment.replier)">
                            <span>回复</span>
                        </a>
                    </div>
                </div>

                <form id="childComment" ng-if="comment.isShowChildComment" novalidate>
                    <div class="comment-text">
                        <textarea autofocus maxlength="2000" ng-model="comment.scndlvlcmt"></textarea>
                        <div style="text-align:right;">
                            <button class="btn btn-sm btn-default" style="float:left;"
                                    ng-click="hideSecondComment(comment)">取消
                            </button>
                            <button class="btn btn-sm btn-info" ng-click="reply(commentSaying.id, comment)">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete1" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Delete
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除评论?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmDel()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div><!-- /.modal -->

    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Delete
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除评论?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" ng-click="confirm()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div><!-- /.modal -->

    <div class="modal fade" id="slcModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Delete
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除评论?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmSlc()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div><!-- /.modal -->
</div>
<div class="container">
    <div class="col-sm-8">
        <form id="commentForm" novalidate>
            <div class="comment-text">
                <textarea autofocus placeholder="写下你的评论…" maxlength="2000" ng-model="cmt.fstlvlcmt2"></textarea>
                <div style="text-align:right;">
                    <button class="btn btn-sm btn-info" ng-click="Comment()">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>