<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传视频</title>
</head>
<body>
<div th:fragment="upv" id="upvideo" style="width: 860px;height: 800px;">
    <form id="upform" class="uk-form-horizontal uk-margin-large" encType="multipart/form-data">
        <input type="hidden" name="scrid" th:value="${session.userByFind.id}">
        <input type="hidden" name="id" th:value="${session.userByFind.id}">
        <input type="hidden" name="scrname" th:value="${session.userByFind.username}">
        <p>
            <article class="uk-comment uk-comment-primary">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>

                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#"></a></h4>
                    </div>
                </header>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-descript">标题</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="vtitle" placeholder="视频还没有标题哦(●ˇ∀ˇ●)">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-descript">视频简介</label>
                    <div class="uk-form-controls">
                        <textarea name="descript" style="width: 430px;height: 125px;" class="uk-input" id="form-horizontal-descript" type="text" placeholder="您还没有填写哦(●ˇ∀ˇ●)..."></textarea>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-descript">文件上传</label>
                    <div class="uk-form-controls">
                        <span>上传视频</span>  <input type="file" name="files"  value="选择视频"><br>
                        <span>上传封面</span> <input type="file" name="files" value="选择封面">
                    </div>
                </div>
        <p style="text-align: center">
            <a id="btn" class="uk-button uk-button-primary" onclick="upvideo()">上  传</a>
        </p>

    </form>
    </article>
</div>
    <script>

    </script>
</div>
</body>
</html>