<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pl.css">
    <!--<link rel="stylesheet" href="/css/register.css" type="text/css" th:href="@{/css/register.css}">-->
    <link rel="stylesheet" href="/css/uikit.css" type="text/css" th:href="@{/css/uikit.css}">
    <link rel="stylesheet" href="" type="text/css" th:href="@{/css/user/grzx.css}">
    <link rel="stylesheet" type="text/css" href="/css/flatpickr.min.css" th:href="@{/css/flatpickr.min.css}">
    <script src="" th:src="@{/js/uikit.min.js}"></script>
    <script src="/static/js/angular.js"></script>
    <script src="" th:src="@{/js/jquery-3.2.1.min.js}"></script>
  <!--  <script src="/static/js/comment.js"></script>-->
    <link href="//cdn.bootcss.com/video.js/7.0.0-alpha.1/alt/video-js-cdn.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/video.js/7.0.0-alpha.1//video.min.js"></script>
    <script src="" th:src="@{/js/uikit-icons.min.js}"></script>
    <script src="/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>
    <script src="/js/addsvg.js" th:src="@{/js/addsvg.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="video/videoHead :: videoHead"></div>

<div class="main" style="width: 1020px;margin: auto">
        <div class="video" style="margin-top: 20px">
            <video id="myvideo" style="float: left;" class="video-js vjs-big-play-centered" controls data-setup="{}"
                   width="560" height="300" preload="auto" th:poster="'/static/'+${session.video.picsrc}">

                <source  th:src="@{'/static/'+${session.video.vsrc}}"/>
            </video>
            <div class="videoinfo" uk-grid style="width: 300px;float: left;margin-left: 20px;">
                <ul  style="list-style: none">
                <li style="padding: 5px;"><h5 class="uk-heading-bullet">[[${session.video.vtitle}]]</h5></li>
                <li style="padding: 5px;">up主：<span>[[${session.video.scrname}]]</span>&nbsp;
                    <span th:if="${session.video.scrid ne session.loginUser.id}" id="guanz" style="cursor: pointer;font-size: 12px;color: #0e6dcd;" ng-click="guanz(1)">关注</span></li>
                <li style="padding: 5px;">上传时间：<span>[[${session.video.uptime}]]</span></li>
                <li style="padding: 5px;cursor: pointer">点赞:
                    <span id="xingxing" class="uk-margin-small-right" uk-icon="star" ng-click="dianz()"></span><span id="dianz" ng-click="dianz()">
                        [[${session.video.goodnum}]]
                    </span>
                </li>
                <li style="padding: 5px;">观看:<span id="guankan">[[${session.looknum}]]</span></li>
                <li style="padding: 5px;">简介:<span>[[${session.video.descript}]]</span></li>
                <li style="padding: 5px;">喜欢:<span style="font-size: 14px;" ng-click="shouc()" id="heart" ><span uk-icon="heart"></span></span></li>
                </ul>
            </div>
        </div>
    <div style="clear: both"></div>
    <div style="margin-top: 20px">
        <h3 class="uk-heading-bullet">评 论</h3>
        <hr>
    </div>

</div>
    <div th:replace="video/pl :: pl">

    </div>

</div>
<div th:replace="footer :: myfoot"></div>
</body>

<script th:inline="javascript">



    var app = angular.module('app', []);
    baseUrl = "";
    app.controller('mainController', ['$scope', 'httpService', function($scope, httpService) {

        httpService.get("/comment/user/getUser/"+[[${session.loginUser.id}]], {}, function(result) {
            window.localStorage.setItem("username", result.username);
            window.localStorage.setItem("id", result.id);
            window.localStorage.setItem("avatar", result.headpic);
        }, function(error) {
            console.log(error)
        });

        $scope.isShowComment = false;
        $scope.cmt = {
            fstlvlcmt : ""
        }
        //current user information
        $scope.user = {
            id : window.localStorage.getItem("id"),
            username : window.localStorage.getItem("username"),
            avatar : window.localStorage.getItem("avatar")
        }

        /*收藏*/
        var datasc ={
            scrid: $scope.user.id,
            zpid:[[${session.video.vid}]]
        }
        httpService.post("/Shouc/findSc/",datasc,function (result) {
            console.log(result+"sc");
            if (result){
                console.log("red");
                    $("#heart").css("color","red");
            }
        },function (error) {
            console.log(error);
        });

        $scope.shouc = function(){
            var datasc ={
                scrid: $scope.user.id,
                zpid:[[${session.video.vid}]]
            }
            httpService.post("/Shouc/findSc/",datasc,function (result) {
                console.log(result+"sc");
                if (!result){
                    httpService.post("/Shouc/insertSc/",datasc,function (data) {
                        $("#heart").css("color","red");
                    },function (error) {
                        console.log(error);
                    });
                }else {
                    $("#heart").css("color","black");
                    httpService.post("/Shouc/delSc",datasc,function (data) {

                    },function (error) {
                        console.log(error);
                    });
                }

            },function (error) {
                console.log(error);
            });

        }

        $scope.dianz = function(){
            var dianz=$("#dianz").text();
            console.log(dianz)
            var data ={
                dzuserid: $scope.user.id,
                bdzuserid:[[${session.video.vid}]],
                num:dianz
            }
           httpService.post("/dianz/findDz/",data,function (result) {
               console.log(result);
               if (!result){
                   data.num=parseInt(dianz)+1;
                   httpService.post("/dianz/incDianz/",data,function (data) {
                       $("#dianz").text(parseInt(dianz)+1);
                       $("#xingxing").css("color","blue");
                   });
               }else {
                   data.num=parseInt(dianz)-1;
                   $("#xingxing").css("color","black");
                   $("#dianz").text(parseInt(dianz)-1);
                   httpService.post("/dianz/delDianZ",data,function (data) {

                   });
               }

           },function (error) {
               console.log(error);
           })

        }

        httpService.get("/comment/saying/get/comment/list/"+[[${session.video.vid}]]+"/"+1+"/3", {}, function(data) {
            $scope.page=data;
            $scope.navigatepageNum=data.navigatepageNums;
            $scope.data = data.list;
            console.log(data);
            for(var index = 0;index<data.length;index++){
                $scope.data[index] = data.list[index];
                $scope.data[index].likes = $scope.data[index].likes.split(",")[0] == "" ? [] : $scope.data[index].likes.split(",");
                $scope.data[index].isShowLike = $scope.data[index].likes.contains($scope.user.id);
                $scope.data[index].isAuthor = $scope.user.username == $scope.data[index].author;
            }
        }, function(error) {
            console.log(error)
        });

        $scope.newPage = function(pageNums){

            if (pageNums == null){
                pageNums=1;
            }
            httpService.get("/comment/saying/get/comment/list/"+[[${session.video.vid}]]+"/"+pageNums+"/3", {}, function(data) {
                $scope.page=data;
                $scope.navigatepageNum=data.navigatepageNums;
                $scope.data = data.list;
                console.log(data);
                for(var index = 0;index<data.length;index++){
                    $scope.data[index] = data.list[index];
                    $scope.data[index].likes = $scope.data[index].likes.split(",")[0] == "" ? [] : $scope.data[index].likes.split(",");
                    $scope.data[index].isShowLike = $scope.data[index].likes.contains($scope.user.id);
                    $scope.data[index].isAuthor = $scope.user.username == $scope.data[index].author;
                }
            }, function(error) {
                console.log(error)
            });
        }
        var looks= $("#guankan").text()
        var myvideo=videojs("myvideo");

        myvideo.on("ended",function(){
            console.log("视频播放结束");
            $("#guankan").text(parseInt(looks)+1);
            var data = {
                vid : [[${session.video.vid}]],
                looknum:[[${session.looknum}]]
            };
            httpService.post("/video/incLooknum", data, function(result) {
            }, function(error) {
                console.log(error)
            })
        })

        /*关注与取消关注*/
        var userliks={
            uid : $scope.user.id,
            uname : $scope.user.username,
            attid : [[${session.video.scrid}]],
            attname : [[${session.video.scrname}]],
            pageNum :1,
            pageSize :5
        }
        httpService.post("/guanz/findGz",userliks,function (data) {
            console.log(data.list.length)
            console.log(data.list)
            if (parseInt(data.list.length) > 0) {
                $("#guanz").text("已关注");
                $("#guanz").css("color","#999999");
            }
        },function (error) {
            console.log(error);
        })


        $scope.guanz = function(pageNums){
            var userliks={
                uid : $scope.user.id,
                uname : $scope.user.username,
                attid : [[${session.video.scrid}]],
                attname : [[${session.video.scrname}]],
                pageNum :pageNums,
                pageSize :5
            }
            $("#guanz").text("已关注");
            $("#guanz").css("color","#999999");

            httpService.post("/guanz/findGz",userliks,function (data) {
                    console.log(data.list.length)
                    if (data.list.length==0){
                        httpService.post("/guanz/insertGz",userliks,function (data) {
                        },function (error) {
                            console.log(error);
                        })
                    } else {
                        httpService.post("/guanz/delGz",userliks,function (data) {
                            if (data){
                                $("#guanz").text("关注");
                                $("#guanz").css("color","#0e6dcd");
                            }
                        },function (error) {
                            console.log(error);
                        })
                    }
            },function (error) {
                console.log(error);
            })
        }

         $scope.like = function(saying,sayingId) {
            if (saying.likes.contains($scope.user.id)) {
                saying.likes.splice(saying.likes.indexOf($scope.user.id), 1);
            } else {
                saying.likes.push($scope.user.id)
            }

            var tmpLikes = $scope.saying.likes;
            tmpLikes = tmpLikes.join(",");

            var data = {
                id : sayingId,
                likes : tmpLikes
            };

            httpService.post("/comment/saying/likes", data, function(data) {
                $scope.isShowLike = $scope.saying.likes.contains($scope.user.id);
            }, function(error) {
                console.log(error)
            })
        }

        $scope.showComment = function(saying) {
            console.log(saying+"__"+!(saying.isShowComment));
            saying.isShowComment = !(saying.isShowComment);
        }

        $scope.Comment = function(){
            var data = {
                likes : "0",
                author : $scope.user.username,
                avatar : $scope.user.avatar,
                sayingContent : $scope.cmt.fstlvlcmt2,
                section_id : [[${session.video.vid}]]
            }

            httpService.post("/comment/saying/add/first", data, function(result) {
                data.createTime = result.createTime;
                $scope.cmt.fstlvlcmt = "";
                location.reload();
            }, function(error) {
                console.log(error)
            })
        }

        $scope.firstComment = function(sayingId,saying) {

            if ($scope.cmt.fstlvlcmt == "") {
                $('#hintDiv').fadeIn(300);

                setTimeout(function() {
                    $('#hintDiv').fadeOut(300);
                }, 800);

                return;
            }

            var data = {
                sayingId : sayingId,
                commenter : $scope.user.username,
                avatar : $scope.user.avatar,
                commentContent : $scope.cmt.fstlvlcmt,
            }

            httpService.post(baseUrl + "/comment/add/first", data, function(result) {
                data.id = result.id;
                data.commentTime = result.commentTime;
                saying.flcs.push(data)
                $scope.cmt.fstlvlcmt = "";
                saying.isShowComment = false;
            }, function(error) {
                console.log(error)
            })
        }

        $scope.showSecondComment = function(comment, toWho) {
            if (!comment.isShowChildComment) {
                comment.scndlvlcmt = "@" + toWho + " ";
                comment.tmptoWho = toWho;
                comment.isShowChildComment = true;
            } else {
                if (toWho == comment.tmptoWho) {
                    comment.isShowChildComment = false;
                    comment.tmptoWho = "";
                    comment.scndlvlcmt = "";
                } else {
                    comment.scndlvlcmt = "@" + toWho + " ";
                    comment.tmptoWho = toWho;
                }
            }
        }

        $scope.hideSecondComment = function(comment) {
            comment.isShowChildComment = false;
            comment.tmptoWho = "";
            comment.scndlvlcmt = "";
        }

        $scope.reply = function(sayingId, comment) {
            var scndlvlcmt = comment.scndlvlcmt;
            var str = "@" + comment.tmptoWho;

            if (scndlvlcmt == "" || $.trim(scndlvlcmt) == str) {
                $('#hintDiv').fadeIn(300);

                setTimeout(function() {
                    $('#hintDiv').fadeOut(300);
                }, 800);

                return;
            }

            var cmt = "";

            if (scndlvlcmt.indexOf(str) >= 0) {
                cmt = scndlvlcmt.substr(scndlvlcmt.indexOf(str) + str.length)
            } else {
                cmt = scndlvlcmt;
            }

            var data = {
                sayingId : sayingId,
                flcId : comment.id,
                replier : $scope.user.username,
                toCommenter : comment.tmptoWho,
                replyContent :  cmt
            }

            httpService.post(baseUrl + "/comment/add/second", data, function(result) {
                comment.isShowChildComment = false;
                comment.scndlvlcmt = "";
                data.id = result.id;
                data.replyTime = result.replyTime;

                angular.forEach($scope.data, function(saying) {
                    angular.forEach(saying.flcs, function(flcs){
                        if (flcs.id == comment.id) {
                            flcs.slcs.push(data);
                        }
                    });
                })
            }, function(error) {
                console.log(error)
            })
        }

        $scope.delete = function(sayingId){
            $('#delete1').modal("show");
            sayingID = sayingId;
        }
        $scope.confirmDel = function() {
            $('#delete1').modal("hide");
            var url = "/comment/saying/delete/" + sayingID;

            httpService.get(url, {}, function(data) {
                //local delete comment
                sayingID = "";
                flcId = "";
                location.reload();
            }, function(error) {
                console.log(error)
            })
        }

        var sayingID, flcId, slcId, saying;
        $scope.deletefslcmt = function(sayingId, firstlvlId) {
            $('#commentModal').modal("show");
            sayingID = sayingId;
            flcId = firstlvlId;
        }

        $scope.confirm = function() {
            $('#commentModal').modal("hide");
            var url = baseUrl + "/comment/delete/first/" + sayingID + "/" + flcId;

            httpService.get(url, {}, function(data) {
                //local delete comment
                angular.forEach($scope.data, function(saying) {
                    angular.forEach(saying.flcs, function(item, index){
                        if (item.id == flcId) {
                            saying.flcs.splice(index, 1);
                        }
                    });
                })
                sayingID = "";
                flcId = "";
            }, function(error) {
                console.log(error)
            })
        }

        $scope.deletescndcmt = function(sayingId, firstlvlId, secondlvlId) {
            $('#slcModal').modal("show");
            sayingID = sayingId;
            flcId = firstlvlId;
            slcId = secondlvlId;
        }

        $scope.confirmSlc = function() {
            $('#slcModal').modal("hide");

            var url = baseUrl + "/comment/delete/second/" + sayingID + "/" + slcId;

            httpService.get(url, {}, function(data) {
                //local delete second level comment
                angular.forEach($scope.data, function(saying){
                    angular.forEach(saying.flcs, function(flc){
                        angular.forEach(flc.slcs, function(item, index){
                            if(item.id == slcId){
                                flc.slcs.splice(index,1);
                            }
                        })
                    })
                })
                sayingID = "";
                flcId = "";
                slcId = "";
            }, function(error) {
                console.log(error)
            })
        }

    }]);

    app.factory('httpService', ['$http', function($http) {
        return {
            get : function(url, params, successCallback, errorCallback) {
                $http({
                    url : url + "?" + $.param(params),
                    method : 'get',
                    headers : { 'Content-Type': 'application/x-www-form-urlencoded' },
                    responseType : 'json'
                })
                    .success(successCallback)
                    .error(errorCallback);
            },
            post : function(url, params, successCallback, errorCallback) {
                $http({
                    url : url,
                    method : 'post',
                    data : $.param(params),
                    headers : { 'Content-Type': 'application/x-www-form-urlencoded' },
                    responseType : 'json'
                })
                    .success(successCallback)
                    .error(errorCallback);
            }
        }
    }]);

    Array.prototype.contains = function(obj) {
        var i = this.length;

        while (i--) {
            if (this[i] === obj) {
                return true;
            }
        }
        return false;
    }
</script>
</html>
