<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>尾部</title>
    <link rel="stylesheet" href="/css/uikit.css" type="text/css" th:href="@{/css/uikit.css}">
    <script src="" th:src="@{/js/uikit.min.js}"></script>
    <script src="" th:src="@{/js/uikit-icons.min.js}"></script>
</head>
<body>
<div th:fragment="myfoot" style="width: auto;height: 100px;text-align: center;background-color: #F6F9FA;line-height: 100px">
<p>这就是二次元吗，爱了爱了</p>
</div>
</body>
</html>