<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>漫集结(●'◡'●)</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/uikit.css}">
    <script src="" th:src="@{/js/uikit.min.js}"></script>
    <script src="" th:src="@{/js/uikit-icons.min.js}"></script>
    <script src="/static/js/angular.js"></script>
    <script src="" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="video/videoHead :: videoHead"></div>

<div class="main" style="width: 1020px;margin: auto"  ng-controller="mainController">
    <div style="width: auto;margin-top: 40px" class="tuijian">
        <div class="toptitle" style="width: auto;height: 20px;margin: 10px">
            <div class="tj" style="font-size: 13px;color: #999999;float: left;line-height: 20px">
                <span uk-icon="icon:grid;ratio:1.2"></span> 编辑推荐
            </div>
        </div>
        <div style="width: 390px;height: 220px;float: left">
            <div class="uk-position-relative uk-visible-toggle uk-light"  uk-slideshow="autoplay: 1000" tabindex="-1">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="/static/img/li.jpg" style="width: 390px;height: 220px" alt="" >
                        </li>
                        <li>
                            <img src="/static/img/li.jpg" style="width: 390px;height: 220px" alt="" >
                        </li>
                        <li>
                            <img src="/static/img/li.jpg" style="width: 390px;height: 220px" alt="" >
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
                </div>
        <div style="width: 400px;float: left;margin-left: 30px">
            <dl class="uk-description-list uk-description-list-divider">
                <dt>崩坏三概念曲</dt>
                <dd>崩坏三概念曲</dd>
                <dt>崩坏三概念曲</dt>
                <dd>崩坏三概念曲</dd>
                <dt>崩坏三概念曲</dt>
                <dd>崩坏三概念曲</dd>
            </dl>
        </div>
    </div>

    <div style="clear: both"></div>
    <div class="zx" style="width: auto;margin-top: 20px">
        <div class="toptitle" style="width: auto;height: 20px;margin: 10px">

            <div class="new" style="font-size: 13px;color: #999999;float: left;line-height: 20px">
                <span uk-icon="icon:grid;ratio:1.2"></span> 最新视频
            </div>

            <div class="more" style="font-size: 13px;color: #999999;float: right;line-height: 20px">
                <a th:href="@{/video/toZxMore}" style="color: #999999"><span uk-icon="icon:chevron-double-right;ratio:1.2"></span> 更多</a>
            </div>
        </div>

        <div class="zxlist" style="width: 170px;height: 171px;float: left;margin: 10px" ng-repeat="video in data">
            <a ng-href="/video/wacth?vid={{video.vid}}"> <img class="avatar" style="width: 170px;height: 50%;float: left;margin-right: 10px;"
                               ng-src="/static/{{video.picsrc}}"></a>
            <br>
            <div class="uk-panel uk-panel-box uk-text-truncate" style="width: 170px">{{video.vtitle}}</div>
            <p style="font-size: 12px;margin-top: 10px;color: #999"><span uk-icon="icon:user; ratio: 0.7"></span>
                {{video.scrname}}</p>
        </div>

    </div>
    <div style="clear: both"></div>
    <div class="zr" style="width: auto;margin-top: 20px" >
        <div class="toptitle" style="width: auto;height: 20px;margin: 10px">

            <div class="zr" style="font-size: 13px;color: #999999;float: left;line-height: 20px">
                <span uk-icon="icon:grid;ratio:1.2"></span> 最热门视频
            </div>

            <div class="more" style="font-size: 13px;color: #999999;float: right;line-height: 20px">
                <a th:href="@{/video/toZrMore}" style="color: #999999"><span uk-icon="icon:chevron-double-right;ratio:1.2"></span> 更多</a>
            </div>
        </div>

        <div class="zrlist" style="width: 170px;height: 171px;float: left;margin: 10px" ng-repeat="zrvideo in zrdata">
            <a ng-href="/video/wacth?vid={{zrvideo.vid}}"> <img class="avatar" style="width: 170px;height: 50%;float: left;margin-right: 10px;"
                                                              ng-src="/static/{{zrvideo.picsrc}}"></a>
            <br>
            <div class="uk-panel uk-panel-box uk-text-truncate" style="width: 170px">{{zrvideo.vtitle}}</div>
            <p style="font-size: 12px;margin-top: 10px;color: #999"><span uk-icon="icon:user; ratio: 0.7"></span>
                {{zrvideo.scrname}}</p>
        </div>

    </div>
</div>

<div style="clear: both"></div>

<div th:replace="footer :: myfoot"></div>
</body>

<script th:inline="javascript">
    var app = angular.module('app', []);
    baseUrl = "";
    app.controller('mainController', ['$scope', 'httpService', function ($scope, httpService) {

        $scope.cmt = {
            fstlvlcmt: ""
        }


        httpService.get("/video/getZx/", {}, function (data) {
            $scope.data = data;
            console.log(data);
            for (var index = 0; index < data.length; index++) {
                $scope.data[index] = data[index];
            }
        }, function (error) {
            console.log(error)
        });

        httpService.get("/video/getZr/", {}, function (data) {
            $scope.zrdata = data;
            console.log(data);
            for (let index = 0; index < data.length; index++) {
                $scope.zrdata[index] = data[index];
            }
        }, function (error) {
            console.log(error)
        });

    }]);

    app.factory('httpService', ['$http', function ($http) {
        return {
            get: function (url, params, successCallback, errorCallback) {
                $http({
                    url: url + "?" + $.param(params),
                    method: 'get',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    responseType: 'json'
                })
                    .success(successCallback)
                    .error(errorCallback);
            },
            post: function (url, params, successCallback, errorCallback) {
                $http({
                    url: url,
                    method: 'post',
                    data: $.param(params),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    responseType: 'json'
                })
                    .success(successCallback)
                    .error(errorCallback);
            }
        }
    }]);

    Array.prototype.contains = function (obj) {
        var i = this.length;

        while (i--) {
            if (this[i] === obj) {
                return true;
            }
        }
        return false;
    }
</script>

</html>