<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>漫集结(●'◡'●)</title>
    <link rel="stylesheet" href="/css/register.css" type="text/css" th:href="@{/css/register.css}">
    <link rel="stylesheet" href="/css/uikit.css" type="text/css" th:href="@{/css/uikit.css}">
    <script src="" th:src="@{/js/uikit.min.js}"></script>
    <script src="" th:src="@{/js/uikit-icons.min.js}"></script>
</head>
<body>
<div th:replace="header :: myhead"  ></div>

<div class="main" style="width: 1020px;height: 800px">
    <div class="zyList">

    </div>
    <div class="phList"></div>
</div>

<div th:replace="footer :: myfoot"  ></div>
</body>
</html>