<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <!--<link rel="stylesheet" href="/css/register.css" type="text/css" th:href="@{/css/register.css}">-->
    <link rel="stylesheet" href="/css/uikit.css" type="text/css" th:href="@{/css/uikit.css}">
    <link rel="stylesheet" href="/static/css/user/grzx.css/" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/flatpickr.min.css" th:href="@{/css/flatpickr.min.css}">
    <script src="" th:src="@{/js/uikit.min.js}"></script>
    <script src="/static/js/angular.js"></script>
    <script src="" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="" th:src="@{/js/uikit-icons.min.js}"></script>
    <script src="/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>
</head>
<style>
    label {
        font-size: 14px;
        font-weight: bold;
    }
</style>
<body>
<div th:replace="video/videoHead :: videoHead"></div>

<div class="main" style="width: 1020px;height: 800px;margin: auto" ng-controller="mainController">
    <div style="clear: both"></div>
    <div uk-grid >
        <div class="uk-width-small@m">

            <ul class="uk-nav uk-nav-default" uk-switcher="connect: #component-nav; animation: uk-animation-fade">
                <li><a href="#" th:href="@{/user/findUserInfo(id=${session.loginUser.id})}">个人信息</a></li>
                <li><a href="#" ng-click="toUp()">上传作品</a></li>
                <li><a ng-click="toFindVideo(1)">个人投稿</a></li>
                <li><a ng-click="toFindTz(1)">个人文章</a></li>
                <li><a href="#" ng-click="shoucAll(1)">个人收藏</a></li>
                <li><a href="#" ng-click="selGzList(1)">个人关注</a></li>
                <li><a href="#">修改密码</a></li>
            </ul>

        </div>
        <div class="uk-width-expand@m">

            <ul id="component-nav" class="uk-switcher">
                <!--个人信息-->
                <li>
                    <h5 class="uk-heading-bullet">个人信息</h5>
                    <div id="userinfo">
                        <div th:replace="editInfo :: info"></div>
                    </div>
                </li>
                <!--上传视频-->
                <li>
                    <h5 class="uk-heading-bullet">上传视频</h5>
                    <div>
                        <div th:replace="video/upvideo :: upv"></div>
                    </div>
                </li>
                <!--个人作品-->
                <li>
                    <h5 class="uk-heading-bullet">个人作品</h5>
                    <article class="uk-comment uk-comment-primary" style="height: 100px" ng-repeat="video in myvideo">
                        <div class="uk-flex-middle" uk-grid>
                            <div class="uk-width-2-3@m">
                                <div style="float: left">
                                <p><span style="color: #00a1cb">{{video.vtitle}}</span>
                                    <br>
                                    <span style="font-size: 13px">{{video.uptime}}</span></p>
                                </div>
                                <div style="float: right;font-size: 14px;">
                                    <span  style="float: right;color: crimson;cursor: pointer" ng-click="delmyvideo(video.vid)">删除</span><br>
                                    <span ng-if="video.state == '0'" style="color: green">审核中</span>
                                    <span ng-if="video.state == '2'" style="color: red">审核不通过<br>
                                    <span style="color: red">原因：{{video.btgyy}}</span>
                                    </span>
                                    <span ng-if="video.state == '1'" style="color: #00BDEF">审核通过</span>
                                </div>
                            </div>
                            <div class="uk-width-1-3@m uk-flex-first">
                                <a ng-href="/video/wacth?vid={{video.vid}}"> <img ng-src="/static/{{video.picsrc}}" alt="Image"></a>
                            </div>

                        </div>
                    </article>
                    <div style="margin-top: 20px">
                        共{{mypage.pages}}页,共{{mypage.total}}条记录

                        <ul class="uk-pagination uk-flex-center" uk-margin>
                            <li  ng-if="mypage.hasPreviousPage"><a href="#"><span uk-pagination-previous ng-click="toFindVideo(mypage.pgeNum-1)"></span></a></li>
                            <li ng-repeat="navigatepageNum in mypage.navigatepageNums">
                <span ng-if="navigatepageNum == mypage.pageNum">
                <a href="#"> {{navigatepageNum}}</a>
                    </span>
                                <span ng-if="navigatepageNum != mypage.pageNum">
                     <a href="#"  ng-click="toFindVideo(navigatepageNum)"> {{navigatepageNum}}</a>
                </span>
                            </li>
                            <li ng-if="mypage.hasNextPage"><a href="#"><span uk-pagination-next ng-click="toFindVideo(mypage.nextPage)"></span></a></li>
                        </ul>

                    </div>
                </li>
                <!--个人文章-->
                <li>
                    <h5 class="uk-heading-bullet">个人文章</h5>
                    <dl class="uk-description-list uk-description-list-divider" ng-repeat="article in mytiezi">
                        <dt> <a ng-href="/article/tzinfo?id={{article.id}}">{{article.title}}</a></dt>
                        <dd>{{article.user.username}}</dd>
                        <dd class="uk-panel uk-panel-box uk-text-truncate">{{article.description}}</dd>
                        <dd> <button style="float: right;" class="uk-button uk-button-primary"  ng-click="delTiezi(article.id)">删除</button></dd>
                    </dl>
                    <div style="margin-top: 20px">
                        共{{tzpage.pages}}页,共{{tzpage.total}}条记录

                        <ul class="uk-pagination uk-flex-center" uk-margin>
                            <li  ng-if="tzpage.hasPreviousPage"><a href="#"><span uk-pagination-previous ng-click="toFindTz(tzpage.pgeNum-1)"></span></a></li>
                            <li ng-repeat="navigatepageNum in tzpage.navigatepageNums">
                <span ng-if="navigatepageNum == tzpage.pageNum">
                <a href="#"> {{navigatepageNum}}</a>
                    </span>
                                <span ng-if="navigatepageNum != tzpage.pageNum">
                     <a href="#"  ng-click="toFindTz(navigatepageNum)"> {{navigatepageNum}}</a>
                </span>
                            </li>
                            <li ng-if="tzpage.hasNextPage"><a href="#"><span uk-pagination-next ng-click="toFindTz(tzpage.nextPage)"></span></a></li>
                        </ul>

                    </div>
                </li>
                <!--个人收藏-->
                <li>
                    <h5 class="uk-heading-bullet">收藏列表</h5>
                    <article class="uk-comment uk-comment-primary" style="height: 100px" ng-repeat="video in scvideo">
                        <div class="uk-flex-middle" uk-grid>
                            <div class="uk-width-2-3@m">
                                <p><span style="color: #00a1cb">{{video.vtitle}}</span>
                                    <button style="float: right;" class="uk-button uk-button-primary"  ng-click="delSc(video.vid)">取消收藏</button>
                                    <br>
                                    <span style="font-size: 13px;color: #999999">up主：{{video.scrname}}</span><br>
                                <span style="font-size: 13px">{{video.descript}}</span></p>
                            </div>
                            <div class="uk-width-1-3@m uk-flex-first">
                                <a ng-href="/video/wacth?vid={{video.vid}}"> <img ng-src="/static/{{video.picsrc}}" alt="Image"></a>
                            </div>

                        </div>
                    </article>
                    <div style="margin-top: 20px">
                        共{{scpage.pages}}页,共{{scpage.total}}条记录

                        <ul class="uk-pagination uk-flex-center" uk-margin>
                            <li  ng-if="scpage.hasPreviousPage"><a href="#"><span uk-pagination-previous ng-click="shoucAll(scpage.pgeNum-1)"></span></a></li>
                            <li ng-repeat="navigatepageNum in scpage.navigatepageNums">
                <span ng-if="navigatepageNum == scpage.pageNum">
                <a href="#"> {{navigatepageNum}}</a>
                    </span>
                                <span ng-if="navigatepageNum != scpage.pageNum">
                     <a href="#"  ng-click="shoucAll(navigatepageNum)"> {{navigatepageNum}}</a>
                </span>
                            </li>
                            <li ng-if="scpage.hasNextPage"><a href="#"><span uk-pagination-next ng-click="shoucAll(scpage.nextPage)"></span></a></li>
                        </ul>

                    </div>
                </li>
                <!--个人关注-->
                <li>
                    <h5 class="uk-heading-bullet">关注列表</h5>
                    <article class="uk-comment uk-comment-primary">
                        <div style="width: auto;height: 100px"  ng-repeat="user in gzUser">
                            <a href="javascript:void(0);">
                                <img class="uk-comment-avatar" style="width: 80px;height: 80px;margin-top: 10px;float: left;" ng-src="/static/{{user.headpic}}">
                            </a>
                            <div style="height: 100px;float: left;line-height: 100px;margin-left: 20px">
                                <a ng-href="/userInf/gztofind/{{user.id}}"> <span>{{user.username}}</span></a> &nbsp;&nbsp; 他的简介： <span>{{user.userabout}}</span>
                            </div>
                                <div style="height: 100px;float: right;">
                                <button style="margin: auto" class="uk-button uk-button-primary" ng-click="delGz(user.id)">取消关注</button>
                            </div>
                        </div>
                    </article>
                    <div style="margin-top: 20px">
                        共{{gzpage.pages}}页,共{{gzpage.total}}条记录

                        <ul class="uk-pagination uk-flex-center" uk-margin>
                            <li  ng-if="gzpage.hasPreviousPage"><a href="#"><span uk-pagination-previous ng-click="selGzList(gzpage.pgeNum-1)"></span></a></li>
                            <li ng-repeat="navigatepageNum in gzpage.navigatepageNums">
                <span ng-if="navigatepageNum == gzpage.pageNum">
                <a href="#"> {{navigatepageNum}}</a>
                    </span>
                                <span ng-if="navigatepageNum != gzpage.pageNum">
                     <a href="#"  ng-click="shoucAll(navigatepageNum)"> {{navigatepageNum}}</a>
                </span>
                            </li>
                            <li ng-if="gzpage.hasNextPage"><a href="#"><span uk-pagination-next ng-click="selGzList(gzpage.nextPage)"></span></a></li>
                        </ul>

                    </div>
                </li>
                <!--修改密码-->
                <li>
                    <article class="uk-comment uk-comment-primary">
                       <p style="color: red;font-size: 12px;">如果您要修改账户和密码，请您正确填写邮箱地址进行接受验证码，验证成功后才可修改</p>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-email">接收验证码邮箱</label>
                            <div class="uk-form-controls">
                                <input type="text" id="form-horizontal-email" readonly ng-value="mialuser.email" name="email">
                                <button id="sendmial" ng-click="toMail()">确认发送</button>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="yzm">验证码</label>
                            <div class="uk-form-controls">
                                <input type="text" style="width: 160px" id="yzm" ng-blur="checkYzm()" class="uk-input">
                                <span id="yzmerror" style="font-size: 12px;color: red">请输入本网站发送给您的修改验证码</span>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="username">用户名</label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text" style="width: 160px" ng-value="mialuser.username" id="username" name="username"  class="uk-input" readonly="readonly">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="oldpassword">旧密码</label>
                            <div class="uk-form-controls">
                                <input type="password" ng-blur="checkpwd(mialuser.password)" style="width: 160px" id="oldpassword" name="password"  class="uk-input" readonly="readonly" />
                            </div>
                            <span id="errorpwd" style="color:red;"></span>
                        </div>
                        <div class="uk-margin" id="newpwd">
                            <label class="uk-form-label" for="newdpassword">新密码</label>
                            <div class="uk-form-controls">
                                <input type="password" style="width: 160px" id="newdpassword" name="password"  class="uk-input" readonly="readonly" />
                            </div>
                        </div>
                        <input type="button" id="editbtn" ng-click="editNaP(mialuser.id)" value="提交修改"/>
                        <button id="fscg" class="uk-button uk-button-default demo" type="button" onclick="UIkit.notification({message: '发送成功', status: 'success'})">发送成功</button>
                        <button id="fserror" class="uk-button uk-button-default demo" type="button" onclick="UIkit.notification({message: '发送失败', status: 'warning'})">发送成功</button>
                        <a id="tuichu"  th:href="@{/user/logout}">退出登录</a>
                    </article>
                </li>
            </ul>

        </div>
    </div>
</div>
<div th:replace="footer :: myfoot"></div>
</body>
<script th:inline="javascript">
    /*日期控件*/
    document.getElementById("flatpickr-tryme").flatpickr();
    var data = [[${session.loginUser.id}]];
 /*   function toFindVideo() {
        $('#myvideo').load("/video/findMyVideo?id=" + data);
    }*/
    $("#clueImgUploadButton").click(function () {
        $("#clueImgInput").click();
    });
    var waitTime = 30;
    document.getElementById("sendmial").onclick = function() {
        time(this);
    }
    function time(ele) {
        console.log(ele);
        if (waitTime == 0) {
            ele.disabled=false;
            ele.innerHTML = "确认发送";
            waitTime = 30;// 恢复计时
        } else {
            ele.disabled=true;
            ele.innerHTML = waitTime + "秒";
            waitTime--;
            setTimeout(function() {
                time(ele)// 关键处-定时循环调用
            }, 1000)
        }
    }
    function uploadClueImg() {
        var file_obj = document.getElementById('clueImgInput').files[0];
        var fd = new FormData();
        fd.append('file', file_obj);
        fd.append("id",[[${session.loginUser.id}]]);
        console.log(fd)
        $.ajax({
            type: 'post',
            url: "/user/editTx",
            data: fd,
            cache: false,
            processData: false,
            contentType: false,
            success: function (result) {
                alert("上传成功");
                location.reload();
            },
            error : function() {
               /* alert("上传成功！");*/
               /* $("#qcform").click();*/
                return false;
            }
        });
    }

    function upvideo() {
        var serializeArray = $("#upform").serializeArray();
        console.log(serializeArray);
        $.ajax({
            type: "POST",
            url: "/video/upvideo",
            dataType: "json",
            data: new FormData($('#upform')[0]),
            async:false,
            cache:false,
            contentType:false,
            processData:false,
            success: function (result) {
                alert(result)
                if (result.resultCode == 100) {
                    alert("SUCCESS");
                }
            },
            error : function() {
                alert("上传成功！");
                $("#qcform").click();
                return false;
            }
        });
    }

    function showselecttag() {
        $("#selecttag").show();
    }
    /*添加标签*/
    function selectTag(e) {
        //获取当前的标签内容
        var tagval = e.getAttribute("value");
        console.log(tagval);
        var previous = $("#tag").val();
        //如果标签不存在，则添加
        if (previous.indexOf(tagval) == -1){
            if (previous) {
                $("#tag").val(previous + ',' + tagval);
            } else {
                $("#tag").val(tagval);
            }
        }
    }
</script>
<script th:inline="javascript">

    var app = angular.module('app', []);
    baseUrl = "";
    app.controller('mainController', ['$scope', 'httpService','$http', function ($scope,httpService,$http) {

        $("#editbtn").hide();
        $("#fscg").hide();
        $("#fserror").hide();
        $("#newpwd").hide();
        $("#tuichu").hide();
        var finduser ={
            id : [[${session.loginUser.id}]]
        }
        httpService.post("/user/grzxFindUser",finduser,function (data) {
            $scope.mialuser=data;
        },function (error) {
            console.log(error);
        })


        $scope.toUp = function(){
            httpService.post("/article/getTags", {}, function (data) {
                $scope.tagslist = data;
                console.log(data);
                for (var index = 0; index < data.length; index++) {
                    $scope.tagslist[index] = data[index];
                }
            }, function (error) {
                console.log(error)
            });
        }

        $scope.selGzList = function(pageNum){
            var gzUser = {
                pageNum : pageNum,
                pageSize : 4,
                uid : [[${session.loginUser.id}]]
            }
            httpService.post("/user/findGzList",gzUser,function (data) {
                $scope.gzpage = data;
                $scope.gzUser = data.list;
                for (var index = 0; index < data.list.length; index++) {
                    $scope.gzUser[index] = data.list[index];
                }

            },function (error) {
                console.error(error);
            })
        }

        $scope.delGz = function(attid){
            var userliks = {
                uid : [[${session.loginUser.id}]],
                attid : attid
            }
            if(confirm('确定要取消关注吗?'))
            {
                httpService.post("/guanz/delGz",userliks,function (data) {
                    $scope.selGzList(1);
                },function (error) {
                    console.log(error);
                })
            }
            return false;

        }

        /*个人文章查看与删除*/
        $scope.toFindTz= function(pageNums){
            var mytiezi ={
                pageNum : pageNums,
                pageSize : 4,
                id : [[${session.loginUser.id}]]
            };
            httpService.post("/luntan/findtiezi",mytiezi,function (data) {
                $scope.mytiezi=data.list;
                $scope.tzpage=data;
                $scope.mynavigatepageNum=data.navigatepageNums;
                console.log($scope.mytiezi);
                console.log(data);
                for(var index = 0;index<data.list.length;index++){
                    $scope.mytiezi[index] = data.list[index];
                }
            },function (error) {
                console.log(error);
            })
        }
        $scope.delTiezi =function(id){
            var data ={
                id : id
            }
            if (confirm('确定要删除该视频吗?')){
                httpService.post("/luntan/delTiezi",data,function (re) {
                    alert("删除成功");
                    $scope.toFindTz(1);
                },function (error) {
                    console.log(error);
                })
            }
            return false;

        }

        /*个人作品查看与删除*/
        $scope.toFindVideo= function(pageNums){
            var myvideo ={
                pageNum : pageNums,
                pageSize : 4,
                id : [[${session.loginUser.id}]]
            };
            httpService.post("/video/findMyVideo",myvideo,function (data) {
                $scope.myvideo=data.list;
                $scope.mypage=data;
                $scope.mynavigatepageNum=data.navigatepageNums;
                console.log($scope.myvideo);
                console.log(data);
                for(var index = 0;index<data.list.length;index++){
                    $scope.myvideo[index] = data.list[index];
                }
            },function (error) {
                console.log(error);
            })
        }
        $scope.delmyvideo =function(vid){
            var data ={
                vid : vid
            }
            if (confirm('确定要删除该视频吗?')){
                httpService.post("/video/delMyVideo",data,function (re) {
                    alert("删除成功");
                    $scope.toFindVideo(1);
                },function (error) {
                    console.log(error);
                })
            }
            return false;

        }

        /*收藏与移除收藏*/
        $scope.shoucAll = function(pageNums) {

            var scvideo = {
                pageNum: pageNums,
                pageSize: 4,
                userid: [[${session.loginUser.id}]]
            }
            httpService.post("/shouc/findAllSc", scvideo, function (data) {
                $scope.scvideo = data.list;
                $scope.scpage = data;
                $scope.scnavigatepageNum = data.navigatepageNums;
                console.log($scope.scvideo);
                console.log(data);
                for (var index = 0; index < data.list.length; index++) {
                    $scope.scvideo[index] = data.list[index];
                }
            }, function (error) {
                console.log(error);
            })
        }
        $scope.delSc = function (zpid) {
                var scvideo={
                    scrid : [[${session.loginUser.id}]],
                    zpid  : zpid
                }
                httpService.post("/Shouc/delSc",scvideo,function (data) {
                        alert("移除成功");
                        $scope.shoucAll(1);
                },function (error) {
                    console.log(error);
                });
            }

        /*修改密码和用户名*/
        $scope.editNaP =function (id) {
            var username=$("#username").val();
            var password=$("#newdpassword").val();
            $scope.user={
                id : id,
                state : 1,
                username:username,
                password:password,
            }
            console.log($scope.user);
            httpService.post("/user/editUser",$scope.user,function (data) {
                if (data) {
                    alert("修改成功,重新登录生效");
                }else {
                    alert("修改失败");
                }
            },function (error) {
                console.log(error);
            });

        }
        /*验证码*/
        $scope.toMail = function () {

             var editMailuser ={
                id : $scope.mialuser.id,
                email : $("#form-horizontal-email").val()
            }
            httpService.post("/toMail/sendMail",editMailuser,function (data) {
                    $("#fscg").click();
                    $scope.YZM = data.code;
                    console.log(data.code);
            },function (error) {
                console.log(error);
                $("#fserror").click();
            })
        }
        $scope.checkpwd = function(pwd){
            if ($("#oldpassword").val() == pwd) {
                $("#newpwd").show();
                $("#newdpassword").removeAttr("readonly");
                $("#errorpwd").text("请输入新密码");
            }else {
                $("#errorpwd").text("密码错误，请重新输入");
            }

        }
        $scope.checkYzm = function () {
            if ($scope.YZM == $("#yzm").val()) {
                $("#username").removeAttr("readonly");
                $("#newpassword").removeAttr("readonly");
                $("#oldpassword").removeAttr("readonly");
                $("#editbtn").show();
                $("#yzmerror").text("验证码正确");
            }else {
                $("#yzmerror").text("验证码错误");
                $("#editbtn").hide();
            }
        }

    }]);

    app.factory('httpService', ['$http', function ($http) {
        return {
            get: function (url, params, successCallback, errorCallback) {
                $http({
                    url: url + "?" + $.param(params),
                    method: 'get',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    responseType: 'json'
                })
                    .success(successCallback)
                    .error(errorCallback);
            },
            post: function (url, params, successCallback, errorCallback) {
                $http({
                    url: url,
                    method: 'post',
                    data: $.param(params),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    responseType: 'json'
                })
                    .success(successCallback)
                    .error(errorCallback);
            }
        }
    }]);

    Array.prototype.contains = function (obj) {
        var i = this.length;

        while (i--) {
            if (this[i] === obj) {
                return true;
            }
        }
        return false;
    }
</script>
</html>
