<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <!--<link rel="stylesheet" href="/css/register.css" type="text/css" th:href="@{/css/register.css}">-->
    <link rel="stylesheet" href="/css/uikit.css" type="text/css" th:href="@{/css/uikit.css}">
    <link rel="stylesheet" href="" type="text/css" th:href="@{/css/user/grzx.css}">
    <link rel="stylesheet" type="text/css" href="/css/flatpickr.min.css" th:href="@{/css/flatpickr.min.css}">
    <script src="" th:src="@{/js/uikit.min.js}"></script>
    <script src="" th:src="@{/js/uikit-icons.min.js}"></script>
    <script src="/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>
</head>
<body>
<div th:replace="header :: myhead"></div>

<div class="main" style="width: 1020px;height: 800px;margin: auto">
    <div uk-grid>
        <div class="uk-width-small@m">

            <ul class="uk-nav uk-nav-default" uk-switcher="connect: #component-nav; animation: uk-animation-fade">
                <li><a href="#" th:href="@{/user/findUserInfo(id=${session.loginUser.id})}">个人信息</a></li>
                <li><a href="#">上传作品</a></li>
                <li><a href="#">个人收藏</a></li>
            </ul>

        </div>
        <div class="uk-width-expand@m">

            <ul id="component-nav" class="uk-switcher">
                <li>
                    <div id="userinfo">
                        <div th:replace="editInfo :: info"></div>
                    </div>
                </li>
                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
            </ul>

        </div>
    </div>
</div>
    <div th:replace="footer :: myfoot"></div>
</body>
<script>
    document.getElementById("flatpickr-tryme").flatpickr();
</script>
</html>